body {
  font-family: 'Open Sans', sans-serif;
  background-color: lime;
  margin: 0;
}

#sidebar {
  background-color: #333;
  color: white;
  padding: 10px;
  transition: 0.3s;
}

#mainPanel {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s;
}

.glowingBox {
  background-color: #00ff00;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.bigWideBox {
  width: 80vw;
}

.glowingBtn {
  background-color: #55ff55;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#tcWarningMsg {
  color: red;
}

#resultBox {
  margin-top: 20px;
}
