body {
    background-color: black;
    color: lime;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.glowing-box {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px lime;
    animation: glowing 2s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 20px lime;
    }
    to {
        box-shadow: 0 0 30px lime;
    }
}

h2 {
    color: lime;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    width: 200px;
}

button {
    background-color: lime;
    color: black;
    cursor: pointer;
}

#sidebar {
    width: 200px;
    height: 100vh;
    background-color: #222;
    position: fixed;
    left: -200px;
    top: 0;
    padding: 20px;
    transition: left 0.3s;
}

#toggleSidebarBtn {
    background-color: lime;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#toggleSidebarBtn:hover {
    background-color: #00ff00;
}

.warning {
    color: red;
    display: none;
}

#results {
    display: none;
}
